version: '3.8'

services:
  backend:
    build:
      context: ./server
      dockerfile: Dockerfile
    environment:
      - JWT_SECRET=${JWT_SECRET}
      - EMAIL_USER=${EMAIL_USER}
      - EMAIL_PASS=${EMAIL_PASS}
      - GCS_BUCKET_NAME=${GCS_BUCKET_NAME}
      - GOOGLE_APPLICATION_CREDENTIALS=/app/credentials.json
    volumes:
      - ./server/database.sqlite:/app/database.sqlite
      - ./server/uploads:/app/uploads
      - ./server/logs:/app/logs

  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "80:80"
    depends_on:
      - backend
